/* 让表格占满容器宽度 */
.markdown-preview-view table,
.markdown-reading-view table {
  width: 100%;
}

/* 让表格列宽根据内容均匀分布 */
.markdown-preview-view table td,
.markdown-preview-view table th,
.markdown-reading-view table td,
.markdown-reading-view table th {
  min-width: 80px;
  padding: 8px 16px;
  white-space: nowrap;
}
